@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800;900&display=swap');

html, body{
	background-image: url('../../images/gal_bg.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gal_heading{
	margin-top: 30px;
	background-image: url('../../images/gal_banner.jpg');
	min-height: 30vh;
	position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*transition: 0.5s;*/
}
.gal_heading:before{
	content: '';
	background: rgba(0,0,50, 0.70);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.gal_heading h1{
	font-family: 'Heebo', sans-serif;
	background-color: transparent;
	position: absolute;
	margin: 0;
	left: 0;
	letter-spacing: 5px;
	font-size: 6em;
	font-weight: 1000;
	color: #fff;
	padding: 0;
	width: 100%;
	text-align: center;
}