@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.list{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card, .card .team-img {
    position: relative;
    border: none;
    border-radius: 5px;
}
.card {
    overflow: hidden;
}
.card, .card .team-img {
    position: relative;
}

.card-img-top{
    object-fit: cover;
    min-height: 350px;
    max-width: 350px;
}

.team-hover {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.card:hover .team-hover .desk {
    top: 45%;
}
.card:hover .team-hover, .card:hover .team-hover .desk, .card:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    /*text-align: center;*/
    color: #222;
}
.card:hover .team-hover .s-link {
    bottom: 10%;
}
.card:hover .team-hover, .card:hover .team-hover .desk, .card:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.card .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.card-body {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.card-body h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.card-body span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

/*.team-hover h4, .team-hover p, .card-body h5, .card-body p{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}*/

.card .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.card-body {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.card-body h4, .card-body p {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}

.card-title{
    font-size: 1.2em;
}

.card-text{
    font-style: italic;
    color: grey;
}

.card{
    margin: 10px;
}

.desk{
    height: 75%;
    overflow-y: auto;
    /*margin-bottom: 250px;*/
    margin-top: 10px;
}